@import "tailwindcss";

:root {
  font-family: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --cadicient-primary-accent-color: #f8991d;
  --cadicient-primary-dark-color: #151515;
}

.bg-primary-dark-color {
  background-color: var(--cadicient-primary-dark-color);
}

.bg-primary-accent-color {
  background-color: var(--cadicient-primary-accent-color);
}

.text-primary-dark-color {
  color: var(--cadicient-primary-dark-color);
}

.text-primary-accent-color {
  color: var(--cadicient-primary-accent-color);
}